@model SearchResultViewModel<NominationModel, NominationFilterModel>

@{
	ViewBag.Title = "Номинациии";
	var pagedList = Html.PagedList(Model.PagesInfo.ItemsCount, Model.PagesInfo.ItemsPerPage, Model.PagesInfo.CurrentPage,
		Model.PagesInfo.DisplayedPages, pageNumber => Url.Action(Url.GetAction(), new
		{
			page = pageNumber
		}), new PagedListExtensions.PagedListRenderParams());
}

<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-body">
				<a asp-action="Update" asp-route-awardId="@Model.FilterModel.AwardId" class="btn btn-outline-primary">Добавить</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
                <tr>
                    <th class="text-center">Название</th>
                    <th class="text-center">Картинка</th>
                    <th class="text-center">Действия</th>
                </tr>
                @foreach (var item in Model.Objects)
                {
                    <tr>
                        <td class="text-center">
                            @item.Title
                        </td>
                        <td class="text-center">
                            @if (item.Id != null)
                            {
                                var pictureFilterModel = new InnerPictureFilterModel()
                                {
                                    Type = PictureToOtherType.Nomination,
                                    Id = item.Id,
                                    Counts = 1,
                                };
                                <div class="col-md-12">
                                    <partial name="../Pictures/Partials/_PictureViewer" model="@pictureFilterModel">
                                </div>
                            }
                        </td>
                        <td class="text-center">
                            <a asp-action="Update" asp-route-id="@item.Id" asp-route-awardId="@Model.FilterModel.AwardId">Изменить</a>
                            <br />
                            <a asp-action="Delete" asp-route-id="@item.Id" class="delete-object-button">Удалить</a>
                        </td>
                    </tr>
                }
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>
