@model NominationsSelectionOptionModel

@{
    var exists = Model != null && Model.Id != 0;
    var pictureFilterModel = new InnerPictureFilterModel()
    {
        Type = PictureToOtherType.NominationSelectionOption,
        Id = Model.Id
    };
    var readers = ViewBag.Readers as List<SelectListItem>;
}

<div class="row" style="border: solid; margin-bottom: 30px; padding: 20px" id="NominatonOption-@Model.Id">
    @if (Model.Id != 0)
    {
        <div class="col-md-6">
            <partial name="../Pictures/Partials/_PictureEditor" model="@pictureFilterModel">
        </div>
    }
    <form asp-action="UpdateOption" asp-antiforgery="true" method="post" class="@(Model.Id != 0 ? $"col-md-6 option-{Model.Id}" : "col-md-12 option")">
        <input asp-for="UserId" type="hidden" />
        <input asp-for="NominationId" type="hidden" />
        <div class="col-md-12">
            <partial name="ModelWithPicture/MainInfo" model="@Model">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <label asp-for="ReaderId" class="col-md-3" style="padding-left: 0px;"></label>
                            <select asp-for="ReaderId" asp-items="readers" class="form-control col-md-9"></select>
                            <span asp-validation-for="ReaderId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
                @if (Model.Id != 0)
                {
                    <a id="deleteLink-@Model.Id" class="btn btn-outline-secondary">Удалить</a>
                }
            </div>
        </div>
    </form>
    @if (Model.Id != 0)
    {
        <script>
            $("#deleteLink-@Model.Id").on("click", function () {
                $.ajax({
                    url: "/Admin/Nominations/DeleteOption?id=@Model.Id",
                    type: "Get",
                    success: function (html) {
                        $("#NominatonOption-" + @Model.Id).remove();
                    },
                    error: function () {
                        alert("error");
                    }
                });
            })
        </script>
    }
</div>
@if (Model.Id != 0)
{
    <script>
        $(".option-" + @Model.Id).on("submit", function () {
            var form = $(this);
            $.ajax({
                type: 'post',
                url: form.attr("action"),
                data: form.serialize(),
                success: function () {
                    alert("успешно сохранено")
                },
                error: function () {
                    alert("ошибка")
                },
            });
            return false;
        });
    </script>
}